<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>4See.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D98C908354A42B0462003A84F0784875AEC40426</string>
				<key>dateExpires</key>
				<string>08/12/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ActionSheetPicker_3_0.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CountryPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.8.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.13</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>11.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>11.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>11.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>11.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnonymousAuthUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>12.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>8.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>12.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>8.9.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>8.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseDatabase.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>8.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseDatabaseUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>12.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseEmailAuthUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>12.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseFacebookAuthUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>12.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>8.9.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>12.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>8.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>8.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseOAuthUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>12.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebasePhoneAuthUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>12.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>8.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorageUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>12.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>7.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Gradients.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MagicTimer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MarqueeLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NotificationBannerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>5.10.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>STPopup.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.8.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftValidator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwifterSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>5.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.20200225.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.28.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.28.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98C908354A42B0462003A84F0784875AEC40426</string>
						<key>dateExpires</key>
						<string>08/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6799ZNCTS</string>
						<key>name</key>
						<string>UIPLAY Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.7</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>D6799ZNCTS.com.4See.app</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>D6799ZNCTS</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>4See.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>dbd0ab4e-f70b-442f-9e3f-ce8c578e4db6</string>
				<key>dateExpires</key>
				<string>08/12/22</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.4See.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>D6799ZNCTS</string>
				<key>name</key>
				<string>UIPLAY Pty Ltd</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
